@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'), 
       url('../fonts/Gilroy-Regular.woff') format('woff'), 
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'), 
       url('../fonts/Gilroy-Medium.woff') format('woff'); 
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Gilroy-Semibold.woff2') format('woff2'), 
       url('../fonts/Gilroy-Semibold.woff') format('woff'), 
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Gilroy-Bold.woff2') format('woff2'), 
       url('../fonts/Gilroy-Bold.woff') format('woff'); 
}
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Gilroy-Extrabold.woff2') format('woff2'), 
       url('../fonts/Gilroy-Extrabold.woff') format('woff'); 
}
@font-face {
  font-family: 'TimeBurner';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/TimeBurner.woff2') format('woff2'), 
       url('../fonts/TimeBurner.woff') format('woff'); 
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-v12-latin-600.woff2') format('woff2'), 
       url('../fonts/inter-v12-latin-600.woff') format('woff'); 
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), 
       url('../fonts/lato-v23-latin-regular.woff') format('woff'); 
}