$global_size:1440px;
$global_pad:0 120px;
$back:#EFF8FD;
$accent_col:linear-gradient(93.89deg, #1482E8 5.35%, #28C6DC 94.46%);
$red_cost:#E33030;
$text_col:#1A3555;
$enter:#DCEBF8;
$gradient:linear-gradient(270deg, #FFFFFF 50%, #D7D7D7 63.91%, #FFFFFF 63.91%), #FFFFFF;
$insult:#DADADA;
$tC:#C4C4C4;
$box_sh:0px 16px 24px rgba(0, 167, 204, 0.2), 0px 2px 6px rgba(0, 167, 204, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.04);