.one_sol{
  background-color: #ECF8FD;
}
.one_sol__inner {
  max-width: 1047px;
  @include flex(center, space-between);
  margin-left: -100px;
}

.one_sol__img {
  max-width: 538px;
  width:100%;
  height: 510px;
  background-image:url("../../img/one_sol_img.png");
  background-size:cover;
  background-position:center;
}

.one_sol__text {
  max-width: 378px;
  width: 100%;
}

.one_sol__text h4 {
  @include flex(center, default);
  @include h4T($text_col);
  padding: 16px 0;
}

.one_sol__text p {
  @include flex(center, default);
  @include Mt($text_col);
  opacity: 0.6;
  padding: 16px 0;
}

.one_sol__btn_wrap {
  margin: 16px 0;
  max-width:190px;
  width:100%;
  padding: 16px 32px;
  border-radius: 50px;
  border: 2px solid #1482E8;
}

.one_sol__btn {
  @include SB14(none);
  @include flex(center, default);
  text-align: center;
  background: $accent_col;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media screen and (max-width: 870px) {
  .one_sol__inner{
    flex-direction: column;
    margin-left: 0;
  }
}